.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}
.row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem
}
.row.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}
.col.reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}
.col-xs,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20,
.col-xs-21,
.col-xs-22,
.col-xs-23,
.col-xs-24,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-offset-1,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12,
.col-xs-offset-13,
.col-xs-offset-14,
.col-xs-offset-15,
.col-xs-offset-16,
.col-xs-offset-17,
.col-xs-offset-18,
.col-xs-offset-19,
.col-xs-offset-20,
.col-xs-offset-21,
.col-xs-offset-22,
.col-xs-offset-23,
.col-xs-offset-24,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9 {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: .5rem;
    padding-left: .5rem
}
.col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}
.col-xs-1 {
    -webkit-flex-basis: 4.16665%;
    -ms-flex-preferred-size: 4.16665%;
    flex-basis: 4.16665%;
    max-width: 4.16665%
}
.col-xs-2 {
    -webkit-flex-basis: 8.3333%;
    -ms-flex-preferred-size: 8.3333%;
    flex-basis: 8.3333%;
    max-width: 8.3333%
}
.col-xs-3 {
    -webkit-flex-basis: 12.499949%;
    -ms-flex-preferred-size: 12.499949%;
    flex-basis: 12.499949%;
    max-width: 12.499949%
}
.col-xs-4 {
    -webkit-flex-basis: 16.6666%;
    -ms-flex-preferred-size: 16.6666%;
    flex-basis: 16.6666%;
    max-width: 16.6666%
}
.col-xs-5 {
    -webkit-flex-basis: 20.83325%;
    -ms-flex-preferred-size: 20.83325%;
    flex-basis: 20.83325%;
    max-width: 20.83325%
}
.col-xs-6 {
    -webkit-flex-basis: 24.9999%;
    -ms-flex-preferred-size: 24.9999%;
    flex-basis: 24.9999%;
    max-width: 24.9999%
}
.col-xs-7 {
    -webkit-flex-basis: 29.16655%;
    -ms-flex-preferred-size: 29.16655%;
    flex-basis: 29.16655%;
    max-width: 29.16655%
}
.col-xs-8 {
    -webkit-flex-basis: 33.3332%;
    -ms-flex-preferred-size: 33.3332%;
    flex-basis: 33.3332%;
    max-width: 33.3332%
}
.col-xs-9 {
    -webkit-flex-basis: 37.499849%;
    -ms-flex-preferred-size: 37.499849%;
    flex-basis: 37.499849%;
    max-width: 37.499849%
}
.col-xs-10 {
    -webkit-flex-basis: 41.6665%;
    -ms-flex-preferred-size: 41.6665%;
    flex-basis: 41.6665%;
    max-width: 41.6665%
}
.col-xs-11 {
    -webkit-flex-basis: 45.833149%;
    -ms-flex-preferred-size: 45.833149%;
    flex-basis: 45.833149%;
    max-width: 45.833149%
}
.col-xs-12 {
    -webkit-flex-basis: 49.9998%;
    -ms-flex-preferred-size: 49.9998%;
    flex-basis: 49.9998%;
    max-width: 49.9998%
}
.col-xs-13 {
    -webkit-flex-basis: 54.16645%;
    -ms-flex-preferred-size: 54.16645%;
    flex-basis: 54.16645%;
    max-width: 54.16645%
}
.col-xs-14 {
    -webkit-flex-basis: 58.3330999%;
    -ms-flex-preferred-size: 58.3330999%;
    flex-basis: 58.3330999%;
    max-width: 58.3330999%
}
.col-xs-15 {
    -webkit-flex-basis: 62.49975%;
    -ms-flex-preferred-size: 62.49975%;
    flex-basis: 62.49975%;
    max-width: 62.49975%
}
.col-xs-16 {
    -webkit-flex-basis: 66.6664%;
    -ms-flex-preferred-size: 66.6664%;
    flex-basis: 66.6664%;
    max-width: 66.6664%
}
.col-xs-17 {
    -webkit-flex-basis: 70.83305%;
    -ms-flex-preferred-size: 70.83305%;
    flex-basis: 70.83305%;
    max-width: 70.83305%
}
.col-xs-18 {
    -webkit-flex-basis: 74.9997%;
    -ms-flex-preferred-size: 74.9997%;
    flex-basis: 74.9997%;
    max-width: 74.9997%
}
.col-xs-19 {
    -webkit-flex-basis: 79.16635%;
    -ms-flex-preferred-size: 79.16635%;
    flex-basis: 79.16635%;
    max-width: 79.16635%
}
.col-xs-20 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%
}
.col-xs-21 {
    -webkit-flex-basis: 87.49965%;
    -ms-flex-preferred-size: 87.49965%;
    flex-basis: 87.49965%;
    max-width: 87.49965%
}
.col-xs-22 {
    -webkit-flex-basis: 91.6663%;
    -ms-flex-preferred-size: 91.6663%;
    flex-basis: 91.6663%;
    max-width: 91.6663%
}
.col-xs-23 {
    -webkit-flex-basis: 95.841%;
    -ms-flex-preferred-size: 95.83295%;
    flex-basis: 95.83295%;
    max-width: 95.83295%
}
.col-xs-24 {
    -webkit-flex-basis: 99.9996%;
    -ms-flex-preferred-size: 99.9996%;
    flex-basis: 99.9996%;
    max-width: 99.9996%
}
.col-xs-offset-1 {
    margin-left: 4.16665%
}
.col-xs-offset-2 {
    margin-left: 8.3333%
}
.col-xs-offset-3 {
    margin-left: 12.499949%
}
.col-xs-offset-4 {
    margin-left: 16.6666%
}
.col-xs-offset-5 {
    margin-left: 20.83325%
}
.col-xs-offset-6 {
    margin-left: 24.9999%
}
.col-xs-offset-7 {
    margin-left: 29.16655%
}
.col-xs-offset-8 {
    margin-left: 33.3332%
}
.col-xs-offset-9 {
    margin-left: 37.499849%
}
.col-xs-offset-10 {
    margin-left: 41.6665%
}
.col-xs-offset-11 {
    margin-left: 45.833149%
}
.col-xs-offset-12 {
    margin-left: 49.9998%
}
.col-xs-offset-13 {
    margin-left: 54.16645%
}
.col-xs-offset-14 {
    margin-left: 58.333099%
}
.col-xs-offset-15 {
    margin-left: 62.49975%
}
.col-xs-offset-16 {
    margin-left: 66.6664%
}
.col-xs-offset-17 {
    margin-left: 70.83305%
}
.col-xs-offset-18 {
    margin-left: 74.9997%
}
.col-xs-offset-19 {
    margin-left: 79.16635%
}
.col-xs-offset-20 {
    margin-left: 83.333%
}
.col-xs-offset-21 {
    margin-left: 87.49965%
}
.col-xs-offset-22 {
    margin-left: 91.6663%
}
.col-xs-offset-23 {
    margin-left: 95.83295%
}
.start-xs {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start
}
.center-xs {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}
.end-xs {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end
}
.top-xs {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}
.middle-xs {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.bottom-xs {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
.around-xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}
.between-xs {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.first-xs {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1
}
.last-xs {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}
@media only screen and (min-width: 48em) {
    .container {
        width: 46rem
    }
    .col-sm,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-13,
    .col-sm-14,
    .col-sm-15,
    .col-sm-16,
    .col-sm-17,
    .col-sm-18,
    .col-sm-19,
    .col-sm-20,
    .col-sm-21,
    .col-sm-22,
    .col-sm-23,
    .col-sm-24,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-offset-1,
    .col-sm-offset-10,
    .col-sm-offset-11,
    .col-sm-offset-12,
    .col-sm-offset-13,
    .col-sm-offset-14,
    .col-sm-offset-15,
    .col-sm-offset-16,
    .col-sm-offset-17,
    .col-sm-offset-18,
    .col-sm-offset-19,
    .col-sm-offset-20,
    .col-sm-offset-21,
    .col-sm-offset-22,
    .col-sm-offset-23,
    .col-sm-offset-24,
    .col-sm-offset-3,
    .col-sm-offset-4,
    .col-sm-offset-5,
    .col-sm-offset-6,
    .col-sm-offset-7,
    .col-sm-offset-8,
    .col-sm-offset-9 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
    .col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-sm-1 {
        -webkit-flex-basis: 4.16665%;
        -ms-flex-preferred-size: 4.16665%;
        flex-basis: 4.16665%;
        max-width: 4.16665%
    }
    .col-sm-2 {
        -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
        max-width: 8.3333%
    }
    .col-sm-3 {
        -webkit-flex-basis: 12.499949%;
        -ms-flex-preferred-size: 12.499949%;
        flex-basis: 12.499949%;
        max-width: 12.499949%
    }
    .col-sm-4 {
        -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
        max-width: 16.6666%
    }
    .col-sm-5 {
        -webkit-flex-basis: 20.83325%;
        -ms-flex-preferred-size: 20.83325%;
        flex-basis: 20.83325%;
        max-width: 20.83325%
    }
    .col-sm-6 {
        -webkit-flex-basis: 24.9999%;
        -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
        max-width: 24.9999%
    }
    .col-sm-7 {
        -webkit-flex-basis: 29.16655%;
        -ms-flex-preferred-size: 29.16655%;
        flex-basis: 29.16655%;
        max-width: 29.16655%
    }
    .col-sm-8 {
        -webkit-flex-basis: 33.3332%;
        -ms-flex-preferred-size: 33.3332%;
        flex-basis: 33.3332%;
        max-width: 33.3332%
    }
    .col-sm-9 {
        -webkit-flex-basis: 37.499849%;
        -ms-flex-preferred-size: 37.499849%;
        flex-basis: 37.499849%;
        max-width: 37.499849%
    }
    .col-sm-10 {
        -webkit-flex-basis: 41.6665%;
        -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
        max-width: 41.6665%
    }
    .col-sm-11 {
        -webkit-flex-basis: 45.833149%;
        -ms-flex-preferred-size: 45.833149%;
        flex-basis: 45.833149%;
        max-width: 45.833149%
    }
    .col-sm-12 {
        -webkit-flex-basis: 49.9998%;
        -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
        max-width: 49.9998%
    }
    .col-sm-13 {
        -webkit-flex-basis: 54.16645%;
        -ms-flex-preferred-size: 54.16645%;
        flex-basis: 54.16645%;
        max-width: 54.16645%
    }
    .col-sm-14 {
        -webkit-flex-basis: 58.3330999%;
        -ms-flex-preferred-size: 58.3330999%;
        flex-basis: 58.3330999%;
        max-width: 58.3330999%
    }
    .col-sm-15 {
        -webkit-flex-basis: 62.49975%;
        -ms-flex-preferred-size: 62.49975%;
        flex-basis: 62.49975%;
        max-width: 62.49975%
    }
    .col-sm-16 {
        -webkit-flex-basis: 66.6664%;
        -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
        max-width: 66.6664%
    }
    .col-sm-17 {
        -webkit-flex-basis: 70.83305%;
        -ms-flex-preferred-size: 70.83305%;
        flex-basis: 70.83305%;
        max-width: 70.83305%
    }
    .col-sm-18 {
        -webkit-flex-basis: 74.9997%;
        -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
        max-width: 74.9997%
    }
    .col-sm-19 {
        -webkit-flex-basis: 79.16635%;
        -ms-flex-preferred-size: 79.16635%;
        flex-basis: 79.16635%;
        max-width: 79.16635%
    }
    .col-sm-20 {
        -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-sm-21 {
        -webkit-flex-basis: 87.49965%;
        -ms-flex-preferred-size: 87.49965%;
        flex-basis: 87.49965%;
        max-width: 87.49965%
    }
    .col-sm-22 {
        -webkit-flex-basis: 91.6663%;
        -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
        max-width: 91.6663%
    }
    .col-sm-23 {
        -webkit-flex-basis: 95.841%;
        -ms-flex-preferred-size: 95.83295%;
        flex-basis: 95.83295%;
        max-width: 95.83295%
    }
    .col-sm-24 {
        -webkit-flex-basis: 99.9996%;
        -ms-flex-preferred-size: 99.9996%;
        flex-basis: 99.9996%;
        max-width: 99.9996%
    }
    .col-sm-offset-1 {
        margin-left: 4.16665%
    }
    .col-sm-offset-2 {
        margin-left: 8.3333%
    }
    .col-sm-offset-3 {
        margin-left: 12.499949%
    }
    .col-sm-offset-4 {
        margin-left: 16.6666%
    }
    .col-sm-offset-5 {
        margin-left: 20.83325%
    }
    .col-sm-offset-6 {
        margin-left: 24.9999%
    }
    .col-sm-offset-7 {
        margin-left: 29.16655%
    }
    .col-sm-offset-8 {
        margin-left: 33.3332%
    }
    .col-sm-offset-9 {
        margin-left: 37.499849%
    }
    .col-sm-offset-10 {
        margin-left: 41.6665%
    }
    .col-sm-offset-11 {
        margin-left: 45.833149%
    }
    .col-sm-offset-12 {
        margin-left: 49.9998%
    }
    .col-sm-offset-13 {
        margin-left: 54.16645%
    }
    .col-sm-offset-14 {
        margin-left: 58.333099%
    }
    .col-sm-offset-15 {
        margin-left: 62.49975%
    }
    .col-sm-offset-16 {
        margin-left: 66.6664%
    }
    .col-sm-offset-17 {
        margin-left: 70.83305%
    }
    .col-sm-offset-18 {
        margin-left: 74.9997%
    }
    .col-sm-offset-19 {
        margin-left: 79.16635%
    }
    .col-sm-offset-20 {
        margin-left: 83.333%
    }
    .col-sm-offset-21 {
        margin-left: 87.49965%
    }
    .col-sm-offset-22 {
        margin-left: 91.6663%
    }
    .col-sm-offset-23 {
        margin-left: 95.83295%
    }
    .start-sm {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-sm {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-sm {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-sm {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-sm {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-sm {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-sm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-sm {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-sm {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .last-sm {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}
@media only screen and (min-width: 55em) {
    .container {
        width: 53.5rem
    }
    .col-mdm,
    .col-mdm-1,
    .col-mdm-10,
    .col-mdm-11,
    .col-mdm-12,
    .col-mdm-13,
    .col-mdm-14,
    .col-mdm-15,
    .col-mdm-16,
    .col-mdm-17,
    .col-mdm-18,
    .col-mdm-19,
    .col-mdm-20,
    .col-mdm-21,
    .col-mdm-22,
    .col-mdm-23,
    .col-mdm-24,
    .col-mdm-2,
    .col-mdm-3,
    .col-mdm-4,
    .col-mdm-5,
    .col-mdm-6,
    .col-mdm-7,
    .col-mdm-8,
    .col-mdm-9,
    .col-mdm-offset-1,
    .col-mdm-offset-10,
    .col-mdm-offset-11,
    .col-mdm-offset-12,
    .col-mdm-offset-13,
    .col-mdm-offset-14,
    .col-mdm-offset-15,
    .col-mdm-offset-16,
    .col-mdm-offset-17,
    .col-mdm-offset-18,
    .col-mdm-offset-19,
    .col-mdm-offset-20,
    .col-mdm-offset-21,
    .col-mdm-offset-22,
    .col-mdm-offset-23,
    .col-mdm-offset-24,
    .col-mdm-offset-3,
    .col-mdm-offset-4,
    .col-mdm-offset-5,
    .col-mdm-offset-6,
    .col-mdm-offset-7,
    .col-mdm-offset-8,
    .col-mdm-offset-9 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
    .col-mdm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-mdm-1 {
        -webkit-flex-basis: 4.16665%;
        -ms-flex-preferred-size: 4.16665%;
        flex-basis: 4.16665%;
        max-width: 4.16665%
    }
    .col-mdm-2 {
        -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
        max-width: 8.3333%
    }
    .col-mdm-3 {
        -webkit-flex-basis: 12.499949%;
        -ms-flex-preferred-size: 12.499949%;
        flex-basis: 12.499949%;
        max-width: 12.499949%
    }
    .col-mdm-4 {
        -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
        max-width: 16.6666%
    }
    .col-mdm-5 {
        -webkit-flex-basis: 20.83325%;
        -ms-flex-preferred-size: 20.83325%;
        flex-basis: 20.83325%;
        max-width: 20.83325%
    }
    .col-mdm-6 {
        -webkit-flex-basis: 24.9999%;
        -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
        max-width: 24.9999%
    }
    .col-mdm-7 {
        -webkit-flex-basis: 29.16655%;
        -ms-flex-preferred-size: 29.16655%;
        flex-basis: 29.16655%;
        max-width: 29.16655%
    }
    .col-mdm-8 {
        -webkit-flex-basis: 33.3332%;
        -ms-flex-preferred-size: 33.3332%;
        flex-basis: 33.3332%;
        max-width: 33.3332%
    }
    .col-mdm-9 {
        -webkit-flex-basis: 37.499849%;
        -ms-flex-preferred-size: 37.499849%;
        flex-basis: 37.499849%;
        max-width: 37.499849%
    }
    .col-mdm-10 {
        -webkit-flex-basis: 41.6665%;
        -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
        max-width: 41.6665%
    }
    .col-mdm-11 {
        -webkit-flex-basis: 45.833149%;
        -ms-flex-preferred-size: 45.833149%;
        flex-basis: 45.833149%;
        max-width: 45.833149%
    }
    .col-mdm-12 {
        -webkit-flex-basis: 49.9998%;
        -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
        max-width: 49.9998%
    }
    .col-mdm-13 {
        -webkit-flex-basis: 54.16645%;
        -ms-flex-preferred-size: 54.16645%;
        flex-basis: 54.16645%;
        max-width: 54.16645%
    }
    .col-mdm-14 {
        -webkit-flex-basis: 58.3330999%;
        -ms-flex-preferred-size: 58.3330999%;
        flex-basis: 58.3330999%;
        max-width: 58.3330999%
    }
    .col-mdm-15 {
        -webkit-flex-basis: 62.49975%;
        -ms-flex-preferred-size: 62.49975%;
        flex-basis: 62.49975%;
        max-width: 62.49975%
    }
    .col-mdm-16 {
        -webkit-flex-basis: 66.6664%;
        -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
        max-width: 66.6664%
    }
    .col-mdm-17 {
        -webkit-flex-basis: 70.83305%;
        -ms-flex-preferred-size: 70.83305%;
        flex-basis: 70.83305%;
        max-width: 70.83305%
    }
    .col-mdm-18 {
        -webkit-flex-basis: 74.9997%;
        -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
        max-width: 74.9997%
    }
    .col-mdm-19 {
        -webkit-flex-basis: 79.16635%;
        -ms-flex-preferred-size: 79.16635%;
        flex-basis: 79.16635%;
        max-width: 79.16635%
    }
    .col-mdm-20 {
        -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-mdm-21 {
        -webkit-flex-basis: 87.49965%;
        -ms-flex-preferred-size: 87.49965%;
        flex-basis: 87.49965%;
        max-width: 87.49965%
    }
    .col-mdm-22 {
        -webkit-flex-basis: 91.6663%;
        -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
        max-width: 91.6663%
    }
    .col-mdm-23 {
        -webkit-flex-basis: 95.841%;
        -ms-flex-preferred-size: 95.83295%;
        flex-basis: 95.83295%;
        max-width: 95.83295%
    }
    .col-mdm-24 {
        -webkit-flex-basis: 99.9996%;
        -ms-flex-preferred-size: 99.9996%;
        flex-basis: 99.9996%;
        max-width: 99.9996%
    }
    .col-mdm-offset-1 {
        margin-left: 4.16665%
    }
    .col-mdm-offset-2 {
        margin-left: 8.3333%
    }
    .col-mdm-offset-3 {
        margin-left: 12.499949%
    }
    .col-mdm-offset-4 {
        margin-left: 16.6666%
    }
    .col-mdm-offset-5 {
        margin-left: 20.83325%
    }
    .col-mdm-offset-6 {
        margin-left: 24.9999%
    }
    .col-mdm-offset-7 {
        margin-left: 29.16655%
    }
    .col-mdm-offset-8 {
        margin-left: 33.3332%
    }
    .col-mdm-offset-9 {
        margin-left: 37.499849%
    }
    .col-mdm-offset-10 {
        margin-left: 41.6665%
    }
    .col-mdm-offset-11 {
        margin-left: 45.833149%
    }
    .col-mdm-offset-12 {
        margin-left: 49.9998%
    }
    .col-mdm-offset-13 {
        margin-left: 54.16645%
    }
    .col-mdm-offset-14 {
        margin-left: 58.333099%
    }
    .col-mdm-offset-15 {
        margin-left: 62.49975%
    }
    .col-mdm-offset-16 {
        margin-left: 66.6664%
    }
    .col-mdm-offset-17 {
        margin-left: 70.83305%
    }
    .col-mdm-offset-18 {
        margin-left: 74.9997%
    }
    .col-mdm-offset-19 {
        margin-left: 79.16635%
    }
    .col-mdm-offset-20 {
        margin-left: 83.333%
    }
    .col-mdm-offset-21 {
        margin-left: 87.49965%
    }
    .col-mdm-offset-22 {
        margin-left: 91.6663%
    }
    .col-mdm-offset-23 {
        margin-left: 95.83295%
    }
    .start-mdm {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-mdm {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-mdm {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-mdm {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-mdm {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-mdm {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-mdm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-mdm {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-mdm {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .last-mdm {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}
@media only screen and (min-width: 62em) {
    .container {
        width: 61rem
    }
    .col-md,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-13,
    .col-md-14,
    .col-md-15,
    .col-md-16,
    .col-md-17,
    .col-md-18,
    .col-md-19,
    .col-md-20,
    .col-md-21,
    .col-md-22,
    .col-md-23,
    .col-md-24,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-offset-1,
    .col-md-offset-10,
    .col-md-offset-11,
    .col-md-offset-12,
    .col-md-offset-13,
    .col-md-offset-14,
    .col-md-offset-15,
    .col-md-offset-16,
    .col-md-offset-17,
    .col-md-offset-18,
    .col-md-offset-19,
    .col-md-offset-20,
    .col-md-offset-21,
    .col-md-offset-22,
    .col-md-offset-23,
    .col-md-offset-24,
    .col-md-offset-3,
    .col-md-offset-4,
    .col-md-offset-5,
    .col-md-offset-6,
    .col-md-offset-7,
    .col-md-offset-8,
    .col-md-offset-9 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
    .col-md {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-md-1 {
        -webkit-flex-basis: 4.16665%;
        -ms-flex-preferred-size: 4.16665%;
        flex-basis: 4.16665%;
        max-width: 4.16665%
    }
    .col-md-2 {
        -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
        max-width: 8.3333%
    }
    .col-md-3 {
        -webkit-flex-basis: 12.499949%;
        -ms-flex-preferred-size: 12.499949%;
        flex-basis: 12.499949%;
        max-width: 12.499949%
    }
    .col-md-4 {
        -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
        max-width: 16.6666%
    }
    .col-md-5 {
        -webkit-flex-basis: 20.83325%;
        -ms-flex-preferred-size: 20.83325%;
        flex-basis: 20.83325%;
        max-width: 20.83325%
    }
    .col-md-6 {
        -webkit-flex-basis: 24.9999%;
        -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
        max-width: 24.9999%
    }
    .col-md-7 {
        -webkit-flex-basis: 29.16655%;
        -ms-flex-preferred-size: 29.16655%;
        flex-basis: 29.16655%;
        max-width: 29.16655%
    }
    .col-md-8 {
        -webkit-flex-basis: 33.3332%;
        -ms-flex-preferred-size: 33.3332%;
        flex-basis: 33.3332%;
        max-width: 33.3332%
    }
    .col-md-9 {
        -webkit-flex-basis: 37.499849%;
        -ms-flex-preferred-size: 37.499849%;
        flex-basis: 37.499849%;
        max-width: 37.499849%
    }
    .col-md-10 {
        -webkit-flex-basis: 41.6665%;
        -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
        max-width: 41.6665%
    }
    .col-md-11 {
        -webkit-flex-basis: 45.833149%;
        -ms-flex-preferred-size: 45.833149%;
        flex-basis: 45.833149%;
        max-width: 45.833149%
    }
    .col-md-12 {
        -webkit-flex-basis: 49.9998%;
        -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
        max-width: 49.9998%
    }
    .col-md-13 {
        -webkit-flex-basis: 54.16645%;
        -ms-flex-preferred-size: 54.16645%;
        flex-basis: 54.16645%;
        max-width: 54.16645%
    }
    .col-md-14 {
        -webkit-flex-basis: 58.3330999%;
        -ms-flex-preferred-size: 58.3330999%;
        flex-basis: 58.3330999%;
        max-width: 58.3330999%
    }
    .col-md-15 {
        -webkit-flex-basis: 62.49975%;
        -ms-flex-preferred-size: 62.49975%;
        flex-basis: 62.49975%;
        max-width: 62.49975%
    }
    .col-md-16 {
        -webkit-flex-basis: 66.6664%;
        -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
        max-width: 66.6664%
    }
    .col-md-17 {
        -webkit-flex-basis: 70.83305%;
        -ms-flex-preferred-size: 70.83305%;
        flex-basis: 70.83305%;
        max-width: 70.83305%
    }
    .col-md-18 {
        -webkit-flex-basis: 74.9997%;
        -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
        max-width: 74.9997%
    }
    .col-md-19 {
        -webkit-flex-basis: 79.16635%;
        -ms-flex-preferred-size: 79.16635%;
        flex-basis: 79.16635%;
        max-width: 79.16635%
    }
    .col-md-20 {
        -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-md-21 {
        -webkit-flex-basis: 87.49965%;
        -ms-flex-preferred-size: 87.49965%;
        flex-basis: 87.49965%;
        max-width: 87.49965%
    }
    .col-md-22 {
        -webkit-flex-basis: 91.6663%;
        -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
        max-width: 91.6663%
    }
    .col-md-23 {
        -webkit-flex-basis: 95.841%;
        -ms-flex-preferred-size: 95.83295%;
        flex-basis: 95.83295%;
        max-width: 95.83295%
    }
    .col-md-24 {
        -webkit-flex-basis: 99.9996%;
        -ms-flex-preferred-size: 99.9996%;
        flex-basis: 99.9996%;
        max-width: 99.9996%
    }
    .col-md-offset-1 {
        margin-left: 4.16665%
    }
    .col-md-offset-2 {
        margin-left: 8.3333%
    }
    .col-md-offset-3 {
        margin-left: 12.499949%
    }
    .col-md-offset-4 {
        margin-left: 16.6666%
    }
    .col-md-offset-5 {
        margin-left: 20.83325%
    }
    .col-md-offset-6 {
        margin-left: 24.9999%
    }
    .col-md-offset-7 {
        margin-left: 29.16655%
    }
    .col-md-offset-8 {
        margin-left: 33.3332%
    }
    .col-md-offset-9 {
        margin-left: 37.499849%
    }
    .col-md-offset-10 {
        margin-left: 41.6665%
    }
    .col-md-offset-11 {
        margin-left: 45.833149%
    }
    .col-md-offset-12 {
        margin-left: 49.9998%
    }
    .col-md-offset-13 {
        margin-left: 54.16645%
    }
    .col-md-offset-14 {
        margin-left: 58.333099%
    }
    .col-md-offset-15 {
        margin-left: 62.49975%
    }
    .col-md-offset-16 {
        margin-left: 66.6664%
    }
    .col-md-offset-17 {
        margin-left: 70.83305%
    }
    .col-md-offset-18 {
        margin-left: 74.9997%
    }
    .col-md-offset-19 {
        margin-left: 79.16635%
    }
    .col-md-offset-20 {
        margin-left: 83.333%
    }
    .col-md-offset-21 {
        margin-left: 87.49965%
    }
    .col-md-offset-22 {
        margin-left: 91.6663%
    }
    .col-md-offset-23 {
        margin-left: 95.83295%
    }
    .start-md {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-md {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-md {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-md {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-md {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-md {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-md {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-md {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-md {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .last-md {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}
@media only screen and (min-width: 71em) {
    .container {
        width: 60rem
    }
    .col-lgm,
    .col-lgm-1,
    .col-lgm-10,
    .col-lgm-11,
    .col-lgm-12,
    .col-lgm-13,
    .col-lgm-14,
    .col-lgm-15,
    .col-lgm-16,
    .col-lgm-17,
    .col-lgm-18,
    .col-lgm-19,
    .col-lgm-20,
    .col-lgm-21,
    .col-lgm-22,
    .col-lgm-23,
    .col-lgm-24,
    .col-lgm-2,
    .col-lgm-3,
    .col-lgm-4,
    .col-lgm-5,
    .col-lgm-6,
    .col-lgm-7,
    .col-lgm-8,
    .col-lgm-9,
    .col-lgm-offset-1,
    .col-lgm-offset-10,
    .col-lgm-offset-11,
    .col-lgm-offset-12,
    .col-lgm-offset-13,
    .col-lgm-offset-14,
    .col-lgm-offset-15,
    .col-lgm-offset-16,
    .col-lgm-offset-17,
    .col-lgm-offset-18,
    .col-lgm-offset-19,
    .col-lgm-offset-20,
    .col-lgm-offset-21,
    .col-lgm-offset-22,
    .col-lgm-offset-23,
    .col-lgm-offset-24,
    .col-lgm-offset-3,
    .col-lgm-offset-4,
    .col-lgm-offset-5,
    .col-lgm-offset-6,
    .col-lgm-offset-7,
    .col-lgm-offset-8,
    .col-lgm-offset-9 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
    .col-lgm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-lgm-1 {
        -webkit-flex-basis: 4.16665%;
        -ms-flex-preferred-size: 4.16665%;
        flex-basis: 4.16665%;
        max-width: 4.16665%
    }
    .col-lgm-2 {
        -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
        max-width: 8.3333%
    }
    .col-lgm-3 {
        -webkit-flex-basis: 12.499949%;
        -ms-flex-preferred-size: 12.499949%;
        flex-basis: 12.499949%;
        max-width: 12.499949%
    }
    .col-lgm-4 {
        -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
        max-width: 16.6666%
    }
    .col-lgm-5 {
        -webkit-flex-basis: 20.83325%;
        -ms-flex-preferred-size: 20.83325%;
        flex-basis: 20.83325%;
        max-width: 20.83325%
    }
    .col-lgm-6 {
        -webkit-flex-basis: 24.9999%;
        -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
        max-width: 24.9999%
    }
    .col-lgm-7 {
        -webkit-flex-basis: 29.16655%;
        -ms-flex-preferred-size: 29.16655%;
        flex-basis: 29.16655%;
        max-width: 29.16655%
    }
    .col-lgm-8 {
        -webkit-flex-basis: 33.3332%;
        -ms-flex-preferred-size: 33.3332%;
        flex-basis: 33.3332%;
        max-width: 33.3332%
    }
    .col-lgm-9 {
        -webkit-flex-basis: 37.499849%;
        -ms-flex-preferred-size: 37.499849%;
        flex-basis: 37.499849%;
        max-width: 37.499849%
    }
    .col-lgm-10 {
        -webkit-flex-basis: 41.6665%;
        -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
        max-width: 41.6665%
    }
    .col-lgm-11 {
        -webkit-flex-basis: 45.833149%;
        -ms-flex-preferred-size: 45.833149%;
        flex-basis: 45.833149%;
        max-width: 45.833149%
    }
    .col-lgm-12 {
        -webkit-flex-basis: 49.9998%;
        -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
        max-width: 49.9998%
    }
    .col-lgm-13 {
        -webkit-flex-basis: 54.16645%;
        -ms-flex-preferred-size: 54.16645%;
        flex-basis: 54.16645%;
        max-width: 54.16645%
    }
    .col-lgm-14 {
        -webkit-flex-basis: 58.3330999%;
        -ms-flex-preferred-size: 58.3330999%;
        flex-basis: 58.3330999%;
        max-width: 58.3330999%
    }
    .col-lgm-15 {
        -webkit-flex-basis: 62.49975%;
        -ms-flex-preferred-size: 62.49975%;
        flex-basis: 62.49975%;
        max-width: 62.49975%
    }
    .col-lgm-16 {
        -webkit-flex-basis: 66.6664%;
        -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
        max-width: 66.6664%
    }
    .col-lgm-17 {
        -webkit-flex-basis: 70.83305%;
        -ms-flex-preferred-size: 70.83305%;
        flex-basis: 70.83305%;
        max-width: 70.83305%
    }
    .col-lgm-18 {
        -webkit-flex-basis: 74.9997%;
        -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
        max-width: 74.9997%
    }
    .col-lgm-19 {
        -webkit-flex-basis: 79.16635%;
        -ms-flex-preferred-size: 79.16635%;
        flex-basis: 79.16635%;
        max-width: 79.16635%
    }
    .col-lgm-20 {
        -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-lgm-21 {
        -webkit-flex-basis: 87.49965%;
        -ms-flex-preferred-size: 87.49965%;
        flex-basis: 87.49965%;
        max-width: 87.49965%
    }
    .col-lgm-22 {
        -webkit-flex-basis: 91.6663%;
        -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
        max-width: 91.6663%
    }
    .col-lgm-23 {
        -webkit-flex-basis: 95.841%;
        -ms-flex-preferred-size: 95.83295%;
        flex-basis: 95.83295%;
        max-width: 95.83295%
    }
    .col-lgm-24 {
        -webkit-flex-basis: 99.9996%;
        -ms-flex-preferred-size: 99.9996%;
        flex-basis: 99.9996%;
        max-width: 99.9996%
    }
    .col-lgm-offset-1 {
        margin-left: 4.16665%
    }
    .col-lgm-offset-2 {
        margin-left: 8.3333%
    }
    .col-lgm-offset-3 {
        margin-left: 12.499949%
    }
    .col-lgm-offset-4 {
        margin-left: 16.6666%
    }
    .col-lgm-offset-5 {
        margin-left: 20.83325%
    }
    .col-lgm-offset-6 {
        margin-left: 24.9999%
    }
    .col-lgm-offset-7 {
        margin-left: 29.16655%
    }
    .col-lgm-offset-8 {
        margin-left: 33.3332%
    }
    .col-lgm-offset-9 {
        margin-left: 37.499849%
    }
    .col-lgm-offset-10 {
        margin-left: 41.6665%
    }
    .col-lgm-offset-11 {
        margin-left: 45.833149%
    }
    .col-lgm-offset-12 {
        margin-left: 49.9998%
    }
    .col-lgm-offset-13 {
        margin-left: 54.16645%
    }
    .col-lgm-offset-14 {
        margin-left: 58.333099%
    }
    .col-lgm-offset-15 {
        margin-left: 62.49975%
    }
    .col-lgm-offset-16 {
        margin-left: 66.6664%
    }
    .col-lgm-offset-17 {
        margin-left: 70.83305%
    }
    .col-lgm-offset-18 {
        margin-left: 74.9997%
    }
    .col-lgm-offset-19 {
        margin-left: 79.16635%
    }
    .col-lgm-offset-20 {
        margin-left: 83.333%
    }
    .col-lgm-offset-21 {
        margin-left: 87.49965%
    }
    .col-lgm-offset-22 {
        margin-left: 91.6663%
    }
    .col-lgm-offset-23 {
        margin-left: 95.83295%
    }
    .start-lgm {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-lgm {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-lgm {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-lgm {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-lgm {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-lgm {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-lgm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-lgm {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-lgm {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .last-lgm {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}
@media only screen and (min-width: 75em) {
    .container {
        width: 71rem
    }
    .col-lg,
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-13,
    .col-lg-14,
    .col-lg-15,
    .col-lg-16,
    .col-lg-17,
    .col-lg-18,
    .col-lg-19,
    .col-lg-20,
    .col-lg-21,
    .col-lg-22,
    .col-lg-23,
    .col-lg-24,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-offset-1,
    .col-lg-offset-10,
    .col-lg-offset-11,
    .col-lg-offset-12,
    .col-lg-offset-13,
    .col-lg-offset-14,
    .col-lg-offset-15,
    .col-lg-offset-16,
    .col-lg-offset-17,
    .col-lg-offset-18,
    .col-lg-offset-19,
    .col-lg-offset-20,
    .col-lg-offset-21,
    .col-lg-offset-22,
    .col-lg-offset-23,
    .col-lg-offset-24,
    .col-lg-offset-3,
    .col-lg-offset-4,
    .col-lg-offset-5,
    .col-lg-offset-6,
    .col-lg-offset-7,
    .col-lg-offset-8,
    .col-lg-offset-9 {
        box-sizing: border-box;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: .5rem;
        padding-left: .5rem
    }
    .col-lg {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
    .col-lg-1 {
        -webkit-flex-basis: 4.16665%;
        -ms-flex-preferred-size: 4.16665%;
        flex-basis: 4.16665%;
        max-width: 4.16665%
    }
    .col-lg-2 {
        -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
        flex-basis: 8.3333%;
        max-width: 8.3333%
    }
    .col-lg-3 {
        -webkit-flex-basis: 12.499949%;
        -ms-flex-preferred-size: 12.499949%;
        flex-basis: 12.499949%;
        max-width: 12.499949%
    }
    .col-lg-4 {
        -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
        max-width: 16.6666%
    }
    .col-lg-5 {
        -webkit-flex-basis: 20.83325%;
        -ms-flex-preferred-size: 20.83325%;
        flex-basis: 20.83325%;
        max-width: 20.83325%
    }
    .col-lg-6 {
        -webkit-flex-basis: 24.9999%;
        -ms-flex-preferred-size: 24.9999%;
        flex-basis: 24.9999%;
        max-width: 24.9999%
    }
    .col-lg-7 {
        -webkit-flex-basis: 29.16655%;
        -ms-flex-preferred-size: 29.16655%;
        flex-basis: 29.16655%;
        max-width: 29.16655%
    }
    .col-lg-8 {
        -webkit-flex-basis: 33.3332%;
        -ms-flex-preferred-size: 33.3332%;
        flex-basis: 33.3332%;
        max-width: 33.3332%
    }
    .col-lg-9 {
        -webkit-flex-basis: 37.499849%;
        -ms-flex-preferred-size: 37.499849%;
        flex-basis: 37.499849%;
        max-width: 37.499849%
    }
    .col-lg-10 {
        -webkit-flex-basis: 41.6665%;
        -ms-flex-preferred-size: 41.6665%;
        flex-basis: 41.6665%;
        max-width: 41.6665%
    }
    .col-lg-11 {
        -webkit-flex-basis: 45.833149%;
        -ms-flex-preferred-size: 45.833149%;
        flex-basis: 45.833149%;
        max-width: 45.833149%
    }
    .col-lg-12 {
        -webkit-flex-basis: 49.9998%;
        -ms-flex-preferred-size: 49.9998%;
        flex-basis: 49.9998%;
        max-width: 49.9998%
    }
    .col-lg-13 {
        -webkit-flex-basis: 54.16645%;
        -ms-flex-preferred-size: 54.16645%;
        flex-basis: 54.16645%;
        max-width: 54.16645%
    }
    .col-lg-14 {
        -webkit-flex-basis: 58.3330999%;
        -ms-flex-preferred-size: 58.3330999%;
        flex-basis: 58.3330999%;
        max-width: 58.3330999%
    }
    .col-lg-15 {
        -webkit-flex-basis: 62.49975%;
        -ms-flex-preferred-size: 62.49975%;
        flex-basis: 62.49975%;
        max-width: 62.49975%
    }
    .col-lg-16 {
        -webkit-flex-basis: 66.6664%;
        -ms-flex-preferred-size: 66.6664%;
        flex-basis: 66.6664%;
        max-width: 66.6664%
    }
    .col-lg-17 {
        -webkit-flex-basis: 70.83305%;
        -ms-flex-preferred-size: 70.83305%;
        flex-basis: 70.83305%;
        max-width: 70.83305%
    }
    .col-lg-18 {
        -webkit-flex-basis: 74.9997%;
        -ms-flex-preferred-size: 74.9997%;
        flex-basis: 74.9997%;
        max-width: 74.9997%
    }
    .col-lg-19 {
        -webkit-flex-basis: 79.16635%;
        -ms-flex-preferred-size: 79.16635%;
        flex-basis: 79.16635%;
        max-width: 79.16635%
    }
    .col-lg-20 {
        -webkit-flex-basis: 83.333%;
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%
    }
    .col-lg-21 {
        -webkit-flex-basis: 87.49965%;
        -ms-flex-preferred-size: 87.49965%;
        flex-basis: 87.49965%;
        max-width: 87.49965%
    }
    .col-lg-22 {
        -webkit-flex-basis: 91.6663%;
        -ms-flex-preferred-size: 91.6663%;
        flex-basis: 91.6663%;
        max-width: 91.6663%
    }
    .col-lg-23 {
        -webkit-flex-basis: 95.841%;
        -ms-flex-preferred-size: 95.83295%;
        flex-basis: 95.83295%;
        max-width: 95.83295%
    }
    .col-lg-24 {
        -webkit-flex-basis: 99.9996%;
        -ms-flex-preferred-size: 99.9996%;
        flex-basis: 99.9996%;
        max-width: 99.9996%
    }
    .col-lg-offset-1 {
        margin-left: 4.16665%
    }
    .col-lg-offset-2 {
        margin-left: 8.3333%
    }
    .col-lg-offset-3 {
        margin-left: 12.499949%
    }
    .col-lg-offset-4 {
        margin-left: 16.6666%
    }
    .col-lg-offset-5 {
        margin-left: 20.83325%
    }
    .col-lg-offset-6 {
        margin-left: 24.9999%
    }
    .col-lg-offset-7 {
        margin-left: 29.16655%
    }
    .col-lg-offset-8 {
        margin-left: 33.3332%
    }
    .col-lg-offset-9 {
        margin-left: 37.499849%
    }
    .col-lg-offset-10 {
        margin-left: 41.6665%
    }
    .col-lg-offset-11 {
        margin-left: 45.833149%
    }
    .col-lg-offset-12 {
        margin-left: 49.9998%
    }
    .col-lg-offset-13 {
        margin-left: 54.16645%
    }
    .col-lg-offset-14 {
        margin-left: 58.333099%
    }
    .col-lg-offset-15 {
        margin-left: 62.49975%
    }
    .col-lg-offset-16 {
        margin-left: 66.6664%
    }
    .col-lg-offset-17 {
        margin-left: 70.83305%
    }
    .col-lg-offset-18 {
        margin-left: 74.9997%
    }
    .col-lg-offset-19 {
        margin-left: 79.16635%
    }
    .col-lg-offset-20 {
        margin-left: 83.333%
    }
    .col-lg-offset-21 {
        margin-left: 87.49965%
    }
    .col-lg-offset-22 {
        margin-left: 91.6663%
    }
    .col-lg-offset-23 {
        margin-left: 95.83295%
    }
    .start-lg {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
    }
    .center-lg {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .end-lg {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
    }
    .top-lg {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .middle-lg {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .bottom-lg {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .around-lg {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .between-lg {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .first-lg {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .last-lg {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}